body{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}


.logo-link{
    color:#4D5AE5;
}

.logo-link:hover,
.logo-link:focus{
    color:#404BBF;
}
.logo-link{
    text-decoration: none;
}
.logo-studio {
    color: #2E2F42;
}

.main-nav,
.address{
    text-decoration: none;
}

.main-nav{
    color:#2E2F42
}
.main-nav:hover{
    color:#404BBF
}



.address{
    color:#434455
}

.address:hover{
    color:#404BBF 
}

.order-button{
    background: #4D5AE5;
}
.order-button{
    background: #404BBF;
}